@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Barlow", sans-serif !important;
}

body {
  line-height: 1;
}

.container-background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.page-background {
  position: absolute;
  left: -10%;
  top: -10%;
  width: 150%;
  height: 150vh;
  background: url("/img/city_lights_display.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(45px);
  z-index: 1;
}

.center-site {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.container-site {
  display: grid;
  height: 80vh;
  width: 1400px;
  width: 80%;
  background: white;
  border-radius: 10px;
  grid-template-columns: 80px 300px 1fr;
  overflow: hidden;

  .navigation {
    background: #0e268e; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #0e268e 0%,
      #9267d3 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #0e268e 0%,
      #9267d3 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #0e268e 0%,
      #9267d3 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    ul {
      li {
        display: block;
        // background: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;

        span {
          font-size: 1.5rem;
        }
      }
    }
  }

  .user-profile {
    background: #002497; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #002497 0%,
      #a176ec 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #002497 0%,
      #a176ec 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #002497 0%,
      #a176ec 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    .name {
      font-size: 1.3rem;
      color: white;
      font-weight: 400;
      text-align: center;
      padding: 32px 0;
      letter-spacing: 2px;
    }

    .border-img {
      display: flex;
      justify-content: center;
      align-items: center;
      border: dashed 3px #3847ae;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 0 auto;
    }

    .user-img {
      background: url("/img/image-1.png");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }

    .user-position {
      font-size: 1.4rem;
      font-weight: 500;
      color: white;
      margin: 20px 0 0;
      text-align: center;
    }

    .title {
      font-size: 1.2rem;
      font-weight: 400;
      color: white;
      margin: 20px 0;
    }

    .user-skills {
      width: 100%;
      padding: 20px;
      text-align: center;

      .skill {
        background: #6761c7;
        color: white;
        font-weight: 300;
        font-size: 0.8rem;
        border-radius: 4px;
        padding: 7px 15px;
        display: inline-block;
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          color: #313cb2;
          background: #fff;
        }
      }
    }
  }

  .content-area {
    background: #f8f7fc;
    padding: 40px;

    .hire-status {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 50px;

      .primary-button {
        color: white;
        font-weight: 500;
        font-size: 0.9rem;
        text-transform: uppercase;
        background: #57bcfe;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 30px;
        -webkit-box-shadow: 0px 10px 44px 0px rgba(87, 187, 254, 0.5);
        -moz-box-shadow: 0px 10px 44px 0px rgba(87, 187, 254, 0.5);
        box-shadow: 0px 10px 44px 0px rgba(87, 187, 254, 0.5);
      }
    }

    .container-about {
      background: white;
      border-radius: 4px;
      padding: 40px;
      margin-bottom: 40px;
      -webkit-box-shadow: 0px 10px 126px 0px rgba(106, 110, 161, 0.33);
      -moz-box-shadow: 0px 10px 126px 0px rgba(106, 110, 161, 0.33);
      box-shadow: 0px 10px 126px 0px rgba(106, 110, 161, 0.33);

      h2 {
        color: #3f3f65;
        font-size: 1.6rem;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 40px;
      }

      p {
        color: #6a6ea1;
        font-size: 1rem;
        text-transform: capitalize;
        font-weight: 400;
        line-height: 2;
        margin-bottom: 20px;
      }
    }

    .social-media {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .social {
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: all 0.4s ease-in-out;

        &:hover {
          color: #57bcfe;
          cursor: pointer;
        }

        span[class^="ti"] {
          font-size: 3rem;
          margin-bottom: 15px;
          display: block;
        }

        .stats {
          font-size: 2rem;
          font-size: 1.1rem;

          span {
            text-align: center;
            display: block;
            font-size: 2rem;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1800px) {
  .container-site {
    .content-area {
      .container-about {
        height: 390px;
        overflow: hidden;
        overflow-y: scroll;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .container-site {
    .content-area {
      .container-about {
        height: 300px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container-site {
    .content-area {
      .container-about {
        height: 500px;
      }

      .social-media {
        .social {
          .stats {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .container-site {
    grid-template-columns: 20% 80% 0%;

    .content-area {
      .hire-status {
        display: none;
      }

      .container-about {
        height: 0;
      }
    }
  }

  .container-site.active {
    grid-template-columns: 20% 0% 80%;

    .content-area {
      .hire-status {
        display: flex;
      }

      .container-about {
        height: 500px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .container-site.active {
    .content-area {
      padding: 15px;

      .container-about {
        height: 250px;
        padding: 15px;
      }

      .social-media {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .container-site {
    .user-profile {
      .name {
        font-size: 1.2rem;
        padding: 32px 0 10px;
      }

      .user-position {
        font-size: 1.3rem;
        margin: 10px 0 0;
      }

      .title {
        margin: 10px 0;
      }
    }
  }

  .container-site.active {
    .content-area {
      padding: 10px;

      .hire-status {
        margin-bottom: 20px;
      }

      .container-about {
        height: 250px;
        padding: 10px;
        margin-bottom: 20px;
      }

      .social-media {
        grid-template-columns: 1fr 1fr;

        .social {
          .stats {
            display: none;
          }
        }
      }
    }
  }
}
